.quote-section {
  background-color: var(--background-color2);
  height: 65vh;
}

.quote-section-image img {
  width: 100%;
  height: 100%;
}

.quote-section-image {
  margin: auto;
  opacity: 0.3;
  margin-top: 80px;
  padding-top: 70px;
  padding-bottom: 35px;
  width: 35px;
}

.quote-section h2 {
  color: var(--light-grey-color);
  text-align: center;
  font-size: xx-large;
  font-family: var(--forum-font-family);
  font-weight: lighter;
  padding-bottom: 30px;
  width: 50%;
  margin: auto;
}

.avatar-img img {
  width: 100%;
}

.avatar-img {
  margin: auto;
  width: 50px;
  height: 50px;
}

.quote-section p {
  color: var(--light-grey-color);
  text-align: center;
  padding-top: 12px;
}

@media (max-width: 834px) {
  .quote-section {
    height: 85vh;
  }
  .quote-section h2 {
    font-size: 25px;
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .quote-section {
    height: 100%;
    padding-bottom: 10px;
  }
  .quote-section h2 {
    font-size: 22px;
    width: 95%;
    font-weight: lighter;
    line-height: 35px;
  }
}