/* ====NAVBAR SECTION==== */
.navbar-section-div {
  background-color: transparent;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.navlinks-div {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 55px;
}
.navlinks-div li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.navlinks-div li button {
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 37px 15px 37px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}
.scroll-bar-icon {
  font-size: 35px;
  color: white;
  display: none;
}
/* ===NAVBAR ENDS HERE==== */

/* =====MEDIA QUERY STARTS HERE======== */
@media (max-width: 1224px) {
  .images-section div img {
    width: 90%;
  }
  .about-us-section div {
    width: 35%;
  }
  .about-us-description h1 {
    font-size: 32px;
  }
}

@media (max-width: 834px) {
  .navlinks-div {
    display: none;
  }
  .scroll-bar-icon {
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar-section-div div img {
    width: 70%;
  }

}