* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-grey-color: #536942;
  --light-gray-color2: rgba(83, 105, 65, 0.7);
  --background-color: rgb(243, 243, 243);
  --background-color2: #f6f8f5;

  --dm-sans-font-family: "DM Sans", sans-serif;
  --forum-font-family: "Forum", serif;
}
